.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-45deg, orange 0%, pink 100%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
}

.menu {
  display: flex;
  gap: 2rem;
  cursor: grab;
}

.link {
  text-decoration: none;
  color: white;
}

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #1a1a1ad2;
  z-index: 1111;
}

.form_inner {
  width: 40%;
  padding-top: 3rem;
  margin: 0 auto;
}

/* media query */
@media screen and (max-width: 45em) {
  .Header {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }
  .menu {
    display: flex;
    height: 0.5rem;
    cursor: grab;
  }
  .form_inner {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 35em) {
  .Header {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }
  .menu {
    display: flex;
    height: 0.5rem;
    cursor: grab;
  }
  .form_inner {
    width: 100%;
    padding: 0;
  }
}
