
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-bottom: 0.4em;
    padding-right: 2em;
    background-color: #171717;
    border-radius: 20px;
  }
  
  .heading {
    text-align: center;
    margin: 2em;
    background: linear-gradient(-46deg, orange 0%, pink 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
  }
  
  .second {
    background: linear-gradient(-45deg, orange 0%, pink 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.5em;
    border: none;
    outline: none;
    color: #171717;
    background: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input_icon {
    height: 1.3em;
    width: 1.3em;
    fill: orange;
  }
  
  .input_field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: orange;
    height: 3rem;
  }
  
  .textarea {
    height: 6em;
    resize: none;
  }
  
  .category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 4px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(-45deg, orange 0%, pink 100%);
    color: rgb(5, 5, 5);
  }
  
  .button1:hover {
    background-image: linear-gradient(
      165deg,
      rgba(0, 128, 0, 0.572) 0%,
      rgba(128, 0, 128, 0.461) 100%
    );
    cursor: pointer;
    color: #171717;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.1em;
    padding-right: 2.1em;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(-45deg, orange 0%, pink 100%);
    color: rgb(5, 5, 5);
  }
  
  .button2:hover {
    background-image: linear-gradient(
      165deg,
      rgba(0, 128, 0, 0.572) 0%,
      rgba(128, 0, 128, 0.461) 100%
    );
    cursor: pointer;
    color: #171717;
  }
  
  .button3 {
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 3em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(-45deg, orange 0%, pink 100%);
    color: rgb(5, 5, 5);
  }
  
  .button3:hover {
    background-image: linear-gradient(
      165deg,
      rgba(0, 128, 0, 0.572) 0%,
      rgba(128, 0, 128, 0.461) 100%
    );
    cursor: pointer;
    color: #171717;
  }
  
  .card {
    background-image: linear-gradient(165deg, orange 0%, pink 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  .card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px green;
  }
  