.alert {
  padding: 20px;
  background: linear-gradient(-45deg, orange 0%, pink 100%);
  color: white;
  position: fixed;
  top: 12rem;
  right: 5rem;
  border-radius: 0.5em;
  cursor: pointer;
  z-index: 11111;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  transition: 0.3s;
}

.closebtn:hover {
  color: #fff;
}

/* media query */
@media screen and (max-width: 55em) {
  .alert {
    top: 2rem;
  }
}
@media screen and (max-width: 45em) {
  .alert {
    top: 2rem;
    left: 1rem;
    width: 80%;
  }
}
@media screen and (max-width: 35em) {
  .alert {
    top: 2rem;
  }
}
